* {
    

}
html {
    margin: 0;
    padding: 0;
}
@import url("Asset/OktaNeueFont/stylesheet.css");
body {
    font-family: 'Okta Neue';
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 35px;  
}
.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}
.flex-item-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33.3%;
}
.flex-item-two {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.3%;
}
.headerBlock {
    display: block;
    width: 100%;
    position: fixed;
}
.logoHeader {
    width: 100px;
}
.buttonHeader {
    font-family: "Okta Neue";
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 9px;
    padding-bottom: 11px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 21px;
    border-radius: 30px;
    text-align: center;
}
.firstCont {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstCont h1 {
    font-style: italic;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
}
.innerFirst {
    max-width: 1500px;
}
#forwardBut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 3px black solid;
    font-size: 32px;
    border-radius: 60px;
    margin-top: 50px;
}

#forwardBut:hover {
    animation: color-change 2s linear infinite;
    cursor: pointer;
}

@keyframes color-change {
    0%,100%{
      border-color:#ff1493;
      color:#ff1493;
    }
  
    25%{
      border-color:#8b4513;
      color:#8b4513;
    }
    
    50%{
      border-color:#0091EA;
      color:#0091EA;

    }
    
    75%{
      border-color:#9400d3;
      color:#9400d3;
    }
  }