* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.html {
    scroll-behavior: smooth;
    display: block;
}
html {
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'Okta Neue';
  src: url('/OktaNeueFont/OktaNeue-Regular.eot');
  src: local('Okta Neue'), local('OktaNeue-Regular'),
      url('OktaNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('OktaNeue-Regular.woff2') format('woff2'),
      url('OktaNeue-Regular.woff') format('woff'),
      url('OktaNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url("/OktaNeueFont/stylesheet.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Okta Neue';
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 35px;  
    z-index: 110;
}
.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}
.flex-item-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33.3%;
}
.flex-item-two {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.3%;
}

.headerBlock {
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 110;
    background: rgb(255,255,255);
}
.logoHeader {
    width: 100px;
    transition: 0.5s;
    z-index: 110;
}
.buttonHeader {
    font-family: "Okta Neue";
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 9px;
    padding-bottom: 11px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 21px;
    border-radius: 30px;
    text-align: center;
}
.logoOverlay {
  width: 36.5px;
  margin-left: 3px;
  position: absolute;
  z-index: 120;
  opacity: 0;
  transition-duration: 1s;
}
.logoOverlay:hover {
  width: 36.5px;
  margin-left: 2px;
  position: absolute;
  z-index: 120;
  animation: color-change-logo 7s linear infinite;
  opacity: 0.8;
}
@keyframes color-change-logo {
  0%,100%{
    filter: hue-rotate(0deg);
  }

  25%{
    filter: hue-rotate(45deg);
  }
  
  50%{
    filter: hue-rotate(90deg);

  }
  
  75%{
    filter: hue-rotate(180deg);
  }
}

.firstCont {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#forwardBut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 3px black solid;
    font-size: 32px;
    border-radius: 60px;
    margin-top: 50px;
}

#forwardBut:hover {
    animation: color-change 2s linear infinite;
    cursor: pointer;
}


@keyframes color-change {
    0%,100%{
      border-color:#ff1493;
      color:#ff1493;
    }
  
    25%{
      border-color:#8b4513;
      color:#8b4513;
    }
    
    50%{
      border-color:#0091EA;
      color:#0091EA;

    }
    
    75%{
      border-color:#9400d3;
      color:#9400d3;
    }
  }
  #container {
    display: inline-block;
    text-align: center;
    max-width: 1500px;
    filter: url(#threshold) blur(0.6px);
    font-style: italic;
    font-size: 4.55vw;
    line-height: 4.55vw;
    font-weight: 300;
}
#container span:hover {
  animation: color-change 5s linear infinite;
}
#text1,
#text2 {
    position: absolute;
    display: inline-block;
    filter: url(#threshold) blur(0.6px);
    user-select: none;
    padding-left: 1.55vw;
    
}

.secondCont {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.96);
    font-style: italic;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 992px) {
    section {
      flex-wrap: nowrap;
    }
  }
  .card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    background: #CCC;
    transform: rotateX(0) rotateY(0);
    transform-style: preserve-3d;
    transition-duration: 0.1s;
    transition-timing-function: ease !important;
  }
  .card__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(https://alexandrebuffet.fr/codepen/parallax-cards/blur-overlay.jpg) no-repeat center center, #000000;
    background-size: cover;
    mix-blend-mode: darken;
    opacity: 0.8;
  }

  .card__image img {
    max-width: 100%;
    height: auto;
    mix-blend-mode: lighten;
  }
  .card h2 {
      font-size: 30px;
  }
  .card__heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    color: #FFF;
  }
  .card__heading .small {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
    transform: translateZ(15px);
  }
  .card__heading h2 {
    margin: 0;
    transform: translateZ(30px);
  }
  .card.rounded,
  .card.rounded .card__overlay, .card__overlay2 {
    border-radius: 145px;
  }
  .card.is-out {
    transform: rotateX(0) rotateY(0) !important;
    transition-duration: 1s;
  }
  #superman {
    background-image: url("Asset/markus-spiske-cZ-s645ZBHo-unsplash.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  #batman {
    background-image: url("Asset/marten-bjork-FVtG38Cjc_k-unsplash.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  #wonderwoman {
    background-image: url("Asset/diggity-marketing-s8HyIEe7lF0-unsplash.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  #aquaman {
    background-image: url("Asset/balazs-ketyi-LPWl2pEVGKc-unsplash.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  #ironman {
    background-image: url("Asset/kal-visuals-3UcQtXSvA88-unsplash.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  
.secondCont h1 {
    color: white;
    font-size: 36px;
    padding-bottom: 100px;
}  

.thirdCont {
  width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thirdCont h1 {
    font-size: 36px;
}  

.foorm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
form span {
  font-size: 20px;
}
form {
  padding-top: 25px;
  max-width: 614px;
  min-width: 100px;
  
}
form img {
  vertical-align: middle;
  margin-left: 4px;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.form-element span {
  margin-bottom: 10px;
  color: #f4dbdb;
}
input {
  height: 50px;
}
textarea {
  height: 200px;
}
input, textarea {
  padding: 25px;
  padding-bottom: 28px;
  border: 3px black solid;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Okta Neue";
}
form button {
  width: 100%;
  padding: 10px;
  padding-bottom: 13px;
  border: 3px black solid;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Okta Neue";
  text-align: center;
  background: white;
  text-decoration: none;
  transition: all .4s;
  cursor: pointer;
  color: black;
}
form button:hover {
   color: white;
   background-color: black;
   border-color: black;
   transform: scale(1.0);
}
form h1 {
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 4vh;
}
form ::placeholder {
  opacity: 40%;
}

#formdone {
  width: 100%;
  padding: 15px;
  color: #d9cbc0;
  border-color: #d9cbc0;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  display: none;
}



@media only screen and (max-width: 600px) {
    .buttonHeader {
      display: none;
      
    }
  }